<%= content_for(:title, "Teams") %>
<table>
<tr>
  <th>Team Name</th>
  <th>Conference</th>
  <th>Rank</th>
</tr>
<% @teams.each do |team| %>
<tr>
  <td><%= team.name %></td>
  <td><%= team.conference %></td>
  <td><%= team.rank %></td>
</tr>
<% end %>
</table>
