
    <div class="container">

      <div class="jumbotron">
        <h1>Movie Reviews</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="movies/new" role="button">Post New Review</a></p>
      </div>

      <%= react_component 'Movies', { data: @movies } %>

    </div> <!-- /container -->

<p id="notice"><%= notice %></p>

<%= content_for(:title, "Movies") %>
