<%= content_for(:title, "Players") %>
<table>
<tr>
  <th>Player Name</th>
  <th>Position</th>
  <th>No.</th>
</tr>
<% @players.each do |player| %>
<tr>
  <td><%= player.name %></td>
  <td><%= player.position %></td>
  <td><%= player.number %></td>
</tr>
<% end %>
</table>

